@use "../../../scss/template.scss" as *;

.dashboard {
    height: 100%;
    &__greeting {
        &__header {
            font-size: 16px;
            font-weight: 600;
        }
        &__subtext {
            font-size: 12px;
            font-weight: 300;
        }
        margin-bottom: 24px;
    }
    &__content {
        &__sets {
            &__top {
                display: flex;
                align-items: center;
                border-bottom: 1px solid $border;
                padding: 4px 0;
                &__title{
                    font-size: 14px;
                }
                &__filter {
                    margin-left: 12px;
                }
                &__action {
                    margin-left: auto;
                    svg {
                        color: $primary;
                        margin-right: 4px;
                    }
                    &__btn {
                        color: $primary;
                        border: none;
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
            &__bottom {
                padding: 12px;
                &__container {
                    display: flex;
                    gap: 12px;

                }
            }
        }
    }
}

.set-item {
    border: 2px solid $border;
    width: 300px;
    height: 64px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    &__title {
        color: $primary;
    }
    &__action {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    &:hover {
        border-color: $accent;
    }
}