@use "../../../scss/template.scss" as *;
@use "../../../scss/constants.scss" as *;

.flashcard-item, .flashcard-item-add {
    width: $flashcard-item-width;
    height: $flashcard-item-height;
    border: 2px solid $border;
    padding: 12px;
    border-radius: $flashcard-item-border-radius;
}

.flashcard-item {
    display: flex;
    flex-direction: column;
    position: relative;
    &__top, &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        padding: 4px;
    }
    &__top {
        border-bottom: 2px dashed $border;
    }
    &__actions {
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        .btn {
            background-color: transparent;
            height: 20px;
            width: 20px;
            padding: 0;
            border: none;
            &:hover {
                background-color: transparent;
            }
            svg {
                color: $secondary;
            }
        }
    }
}

.flashcard-item-add {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-color: $accent;
    transition: all 0.3s ease;
    &__icon {
        width: 24px;
        height: 24px;
        color: $secondary;
    }
    &__label {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 400;
        color: $secondary;
    }
    &:hover {
        box-shadow: 0px 0px 8px $accent;
    }
}

.flashcard-item-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    height: 100%;
    padding: 12px 0;
    overflow: auto;
    border-bottom: 1px solid $border;
}

.set-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border;
        padding: 4px 0;
        height: 40px;
        &__left {
            display: flex;
            align-items: center;
            &__actions {
                margin-left: 12px;
                display: flex;
                align-items: center;
                gap: 8px;
                // todo: remove here after creating button component
                .btn {
                    padding: 4px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
          
                }
                .dropdown {
                    .btn {
                        background-color: transparent;
                        border: none;
                        svg {
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }
    &__container {
        padding: 12px;
        overflow: auto;
        height: calc(100% - 40px);
    }
}

.drop-down-item {
    display: flex;
    align-items: center;
    gap: 8px;
}