@use "../../../scss/template.scss" as *;
@use "../../../scss/constants.scss" as *;

.sidemenu {
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 140px;
    height: calc(100vh - 64px);
    position: absolute;
    top: 64px;
    left: 0;
    background-color: $background;
    border-right: 1px solid $border;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
    }
    &__footer {
        display: flex;
        align-items: center;
        border-top: 1px solid $border;
        .signout-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 24px;
            border: 1px solid transparent;
            padding: 4px;
            background-color: transparent;
            font-size: 14px !important;
            color: $error;
        }
    }
}

.sidemenu-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid $border;
    outline: 1px solid transparent;
    border-radius: $radius-btn;
    cursor: pointer;
    transition: all 0.3s ease;
    &__icon {
        svg {
            color: $primary;
        }
    }
    &__label {
        margin-left: 8px;
        font-size: 12px;
        color: $primary;
    }
    &.active {

    }
    &:hover {
        outline: 1px solid $border;
        // .sidemenu-item__label {
        //     text-decoration: underline;
        // }
    }
}